html {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body,
#root {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 0.9em;
  text-shadow: 1px 1px #000;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

a {
  color: #f8a200;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: #ffc600;
}
